/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

a {
	color: red;
	font-weight: 600;
}

a:hover {
	/* color: #edd74b; */
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

p {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}
/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: #203785;
	color: #fff;
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: #1b6d85;
	color: #fff;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
/* start navbar */
.toggle-menu {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999999999999999;
	transition: 0.6s;
}
.toggle-menu.active {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
}
.toggle-menu .col li {
	list-style: none;
	margin-bottom: 10px;
}

.toggle-menu .container {
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.toggle {
	border: none;
	margin-right: 10px;
	/* height: 40px; */
	border-radius: 5px;
}

.navbar {
	background-color: white !important;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.navbar ul {
	width: 100%;
	padding: 0 50px;
}
.navbar ul a {
	color: black;
	font-size: 18px;
	font-weight: bold;
}
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
}
.navbar .req-btn {
	background-color: red;
	color: white;
	border-radius: 4px;
	padding: 12px 30px;
	white-space: nowrap;
	transition: 0.3s;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}
.navbar .req-btn:hover {
	opacity: 0.8;
}

/* end navbar */

@media (max-height: 500px) {
	.navbar {
		padding: 10px !important;
	}

	.nav-link {
		display: block;
		padding: 0.5rem 1rem 0;
	}

	
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
	padding: 60px 0;
}

.section-bg,
.services .icon-box {
	background-color: #f8f9fa;
}

.section-title {
	padding-bottom: 40px;
}

.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 5px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	font-family: "Poppins", sans-serif;
}

.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #e6636a;
	margin: 4px 10px;
}

.section-title p {
	margin: 0;
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #556270;
}

ol,
.styledList {
	padding: 25px 30px;
	background-color: #eee;
	box-shadow: 0 0 5px #00a1b1;
}
/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
.breadcrumbs {
	padding: 18px 0;
	background: #f8f9fa;
	min-height: 40px;
	margin-top: 60px;
}

@media (max-width: 992px) {
	.breadcrumbs {
		margin-top: 58px;
	}
	.breadcrumbs h2 {
		width: 100% !important;
	}
}

.breadcrumbs h2 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
	color: #1b6d85;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	background-color: transparent;
	box-shadow: none;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #6b7b8d;
	content: "/";
}

@media (max-width: 992px) {
	.breadcrumbs {
		margin-top: 58px;
	}
	.breadcrumbs .d-flex {
		display: block !important;
	}
	.breadcrumbs h2 {
		margin-bottom: 10px;
	}
	.breadcrumbs ol {
		display: block;
	}
	.breadcrumbs ol li {
		display: inline-block;
	}
}
/*--------------------------------------------------------------
  # Blog
  --------------------------------------------------------------*/
.blog {
	padding: 40px 0 40px 0;
}

.blog .entry {
	padding: 20px;
	margin-bottom: 60px;
	overflow: hidden;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
	max-height: 490px;
	margin: -20px -20px 20px -20px;
	overflow: hidden;
}

.blog .entry .entry-title {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
	color: #556270;
	transition: 0.3s;
}

.blog .entry .entry-title a:hover {
	color: #d9232d;
}

.blog .entry .entry-meta {
	margin-bottom: 15px;
	color: #c1c8d0;
}

.blog .entry .entry-meta ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.blog .entry .entry-meta ul li + li {
	padding-left: 20px;
}

.blog .entry .entry-meta i {
	font-size: 14px;
	padding-right: 4px;
}

.blog .entry .entry-meta a {
	color: #a4afba;
	font-size: 14px;
	display: inline-block;
	line-height: 1;
}

.blog .entry .entry-content p {
	line-height: 1.8rem;

	font-size: 16px;
}

.blog .entry .entry-content .read-more {
	-moz-text-align-last: right;
	text-align-last: right;
}

.blog .entry .entry-content .read-more a {
	display: inline-block;
	background: #d9232d;
	color: #fff;
	padding: 6px 20px 7px;
	transition: 0.3s;
	font-size: 14px;
	border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
	background: #e1444d;
}

.blog .entry .entry-content h3 {
	font-size: 22px;
	margin-top: 30px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
}

.blog .entry .entry-content blockquote {
	overflow: hidden;
	background-color: #fafafa;
	padding: 30px;
	position: relative;
	text-align: center;
	margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
	color: #444444;
	line-height: 1.6;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
}

@media (max-width: 768px) {
	.blog .entry .entry-content blockquote p {
		font-size: 12px;
	}

	.red {
		font-size: 15px;
		font-weight: bold;
		width: 100% !important;
	}
}
.blog .entry .entry-content blockquote .quote-left {
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 36px;
	color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 36px;
	color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #556270;
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog .entry .entry-footer {
	padding-top: 10px;
	border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
	color: #8795a4;
	display: inline;
	padding-top: 3px;
}

.blog .entry .entry-footer a {
	color: #a4afba;
	transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
	color: #00b050;
}

.blog .entry .entry-footer .cats {
	list-style: none;
	display: inline;
	padding: 0 3px 0 10px;
	font-size: 14px;
}

.blog .entry .entry-footer .cats li {
	display: inline-block;
}

.blog .entry .entry-footer .tags {
	list-style: none;
	display: inline;
	padding: 0 5px;
	font-size: 14px;
}

.blog .entry .entry-footer .tags li {
	display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
	padding-right: 6px;
	color: #6c757d;
	content: ",";
}

.blog .entry .entry-footer .share {
	font-size: 16px;
}

.blog .entry .entry-footer .share i {
	padding-left: 5px;
}

.blog .entry-single {
	margin-bottom: 30px;
}

.blog .entry-single .entry-title {
	font-size: 32px;
	line-height: 38px;
}

.blog .blog-author {
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.blog .blog-author h4 {
	margin-right: 140px;
	text-align: right;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0px;
	padding: 0;
}

.blog .blog-author .social-links {
	margin: 6px 140px 5px 0;
	text-align: right;
	color: #c1c8d0;
	font-size: 13px;
	padding-right: 1rem;
}

.blog .blog-author p {
	margin-right: 140px;
	text-align: right;
	font-style: italic;
	color: #b7b7b7;
}

.blog .blog-comments {
	margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
	font-weight: bold;
}

.blog .blog-comments .comment {
	margin-top: 30px;
	position: relative;
}

.blog .blog-comments .comment .comment-img {
	width: 50px;
}

.blog-comments .comment .comment-photo {
	display: block;
	max-width: 500px;
	max-height: 500px;
	width: 100%;
	height: auto;
}

.button-after-comments {
	display: block;
	margin: 50px auto;
	background-color: red;
	text-align: center;
	border: none;
	transition: 0.4s;
}

.form-block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: rgba(255, 255, 255, 0.82);
	padding: 30px 25px;
	width: 400px;
	margin-inline: auto;
}

.time-remains-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 20px;
	text-align: center;
}

.time-remains-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 20px;
	text-align: center;
}

.time-remains-text span {
	color: red;
}

.time-remains-text span {
	color: red;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.discount {
	width: 100%;
}

.discount-text {
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: #676767;
}

.discount-text span {
	font-weight: 900;
	font-size: 36px;
	line-height: 43px;
	color: red;
}

.price {
	text-align: center;
	margin-top: 20px;
}

.x_currency {
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: red;
}

.x_currency_old {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-decoration-line: line-through;
	color: #898989;
}

.form_order {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input-form, .js-select {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 25px;
	background: rgba(255, 255, 255, 0.82);
	border: 1px solid #909090;
	border-radius: 3px;
	outline: none;
}

.submit-form {
	background: red;
	border-radius: 3px;
	padding: 10px;
	color: #fff;
	font-weight: 500;
	font-size: 26px;
	line-height: 135%;
	border: none;
	outline: none;
	transition: 0.3s;
}

.button-after-comments a {
	color: white;
	padding: 10px;
}

.button-after-comments:hover {
	transform: scale(1.1);
}

.blog .blog-comments .comment h5 {
	margin-right: 65px;
	text-align: right;
	font-size: 16px;
	margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
	font-weight: bold;
	color: #444444;
	transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
	color: red;
}

.blog .blog-comments .comment h5 .reply {
	padding-right: 10px;
	text-align: right;
	color: #556270;
}

.blog .blog-comments .comment time {
	margin-right: 65px;
	text-align: right;
	display: block;
	font-size: 14px;
	color: #c1c8d0;
	margin-bottom: 5px;
}

.blog .blog-comments .comment p {
	margin-right: 65px;
	text-align: right;
}

.blog-comments .comment img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.blog-comments .comment img.commentImage {
	width: 150px;
	height: 150px;
	float: right;
	margin-right: 4rem;
}

.blog .blog-comments .comment.comment-reply {
	padding-right: 40px;
	text-align: right;
}

.blog .blog-comments .reply-form {
	margin-top: 30px;
	padding: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
	font-weight: bold;
	font-size: 22px;
}

.blog .blog-comments .reply-form p {
	font-size: 14px;
}

.blog .blog-comments .reply-form input {
	border-radius: 0;
	padding: 20px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
	box-shadow: none;
	border-color: #e9797f;
}

.blog .blog-comments .reply-form textarea {
	border-radius: 0;
	padding: 10px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
	box-shadow: none;
	border-color: #e9797f;
}

.blog .blog-comments .reply-form .form-group {
	margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
	border-radius: 4;
	padding: 10px 20px;
	border: 0;
	background-color: #556270;
}

.blog .blog-comments .reply-form .btn-primary:hover {
	background-color: #d9232d;
}

.blog .blog-pagination {
	color: #8795a4;
}

.blog .blog-pagination ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.blog .blog-pagination li {
	border: 1px solid #edeff1;
	margin: 0 5px;
	transition: 0.3s;
}

.blog .blog-pagination li.active {
	background: white;
}

.blog .blog-pagination li a {
	color: #aaaaaa;
	padding: 7px 16px;
	display: inline-block;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
	background: #d9232d;
	border: 1px solid #d9232d;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
	color: #fff;
}

.blog .blog-pagination li.disabled {
	background: #fff;
	border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
	color: #f1f1f1;
	padding: 10px 16px;
	display: inline-block;
}

.blog .sidebar {
	padding: 30px;
	margin: 0 0 60px 20px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
	font-size: 20px;
	font-weight: 700;
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
	color: #556270;
	position: relative;
}

.blog .sidebar .sidebar-item {
	margin-bottom: 30px;
}

.blog .sidebar .search-form form {
	background: #fff;
	border: 1px solid #556270;
	padding: 3px 10px;
	position: relative;
	border-radius: 4px;
}

.blog .sidebar .search-form form input[type="text"] {
	border: 0;
	padding: 4px;
	width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
	position: absolute;
	top: 0;
	right: -2px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 15px;
	margin: -1px;
	background: #556270;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
}

.blog .sidebar .search-form form button:hover {
	background: #6b7b8d;
}

.blog .sidebar .categories ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .categories ul li + li {
	padding-top: 10px;
}

.blog .sidebar .categories ul a {
	color: #6b7b8d;
}

.blog .sidebar .categories ul a:hover {
	color: #34ce57;
}

.blog .sidebar .categories ul a span {
	padding-left: 5px;
	color: #c1c8d0;
	font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
	margin-top: 15px;
}

.blog .sidebar .recent-posts img {
	width: 80px;
	height: 70px;
	float: right;
}

.blog .sidebar .recent-posts h4 {
	font-size: 15px;
	text-align: right;
	padding-top: 0.5rem;
	margin-right: 95px;
	font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
	color: #292f36;
	transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
	color: red;
}

.blog .sidebar .recent-posts time {
	display: block;
	margin-left: 95px;
	font-style: italic;
	font-size: 14px;
	color: #c1c8d0;
}

.blog .sidebar .tags {
	margin-bottom: -10px;
}

.blog .sidebar .tags ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .tags ul li {
	display: inline-block;
}

.blog .sidebar .tags ul a {
	color: #96a2af;
	font-size: 14px;
	padding: 6px 14px;
	margin: 0 6px 8px 0;
	border: 1px solid #dee2e6;
	display: inline-block;
	border-radius: 4px;
	transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
	color: #fff;
	border: 1px solid red;
	background: red;
}

.blog .sidebar .tags ul a span {
	padding-left: 5px;
	color: #fbfbfc;
	font-size: 14px;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
	background: #4a5562;
	padding: 0 0 30px 0;
	color: #fff;
	font-size: 14px;
}

#footer .footer-top {
	background: #515d6a;
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: #fff;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #d9232d;
	color: #fff;
	text-decoration: none;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	color: white;
}

#footer .footer-top .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px;
	width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: -2px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px 2px 20px;
	background: #d9232d;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
	background: #df3740;
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
}

#footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
}

#footer .credits a {
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
	font-weight: 600;
}

#footer .credits a:hover {
	color: white;
}

article button {
	display: block;
	margin: 50px auto;
	background-color: red;
	text-align: center;
	color: white;
	border: none;
	transition: 0.4s;
}
article button a {
	color: white;
	padding: 10px;
}
article button a:hover {
	color: white;
}
article button:hover {
	transform: scale(1.1);
}

.btn-lg {
	padding: 10px 0;
}

/* start up button  */
.upBtn {
	position: fixed;
	bottom: 50px;
	right: -40px;
	width: 40px;
	height: 40px;
	background: red;
	border-radius: 4px;
	border: none;
	outline: none;
	opacity: 0;
	transition: all 0.4s;
}
.upBtn.active {
	right: 50px;
	opacity: 1;
}
.upBtn i {
	font-size: 24px;
	line-height: 40px;
	color: #fff;
}

.upBtn:hover {
	opacity: 0.9;
}

/* end up button */

/* start loading section  */
.loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s cubic-bezier(0.87, 0, 0.13, 1);
	z-index: 1111111111111111111111111111111111111111111;
}

.loading.active {
	top: -110%;
}
/* end loading section  */
